<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 

    	<display-name>Main Server</display-name>
    	<servlet>
	  <servlet-name>AccountController</servlet-name>
	  <servlet-class>com.checkersplusplus.controllers.AccountController</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>AccountController</servlet-name>
	  <url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
